.bar {
    white-space: nowrap;
    cursor: pointer;
    clear: both;
}
.shortbar {
    float: left;
}
.name-external {
    float: left;
    margin-left: 10px;
}
.name-internal {
    float: right;
    margin-right: 10px;
}
