.bar {
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 2px;
    clear: both;
}
.shortbar {
    float: left;
}
.name-external {
    float: left;
    margin-left: 10px;
}
.name-internal {
    float: right;
    margin-right: 10px;
}
.value {
    float: right;
}
.popValue {
    margin-left: 7px;
}
/* bootstrap overrides  */
.card {
    margin: 20px 10px;
}
.card-body {
    padding-left: 0;
}
/* end bootstrap overrides */
