.bar, .newline .bar {
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 2px;
    clear: both;
}
/*.newline .bar:nth-child(odd) {*/
/*    background-color: red;*/
/*}*/
/*.newline .bar:nth-child(even) {*/
/*    background-color: green;*/
/*}*/
/*.bar:nth-child(odd) {*/
/*    background-color: red;*/
/*}*/
/*.bar:nth-child(even) {*/
/*    background-color: green;*/
/*}*/
.shortbar {
    float: left;
}
/* bootstrap override  */
.card {
    margin: 20px 10px;
}
.card-body {
    padding-left: 0;
}
.name-external {
    float: left;
    margin-left: 10px;
}
.name-internal {
    float: right;
    margin-right: 10px;
}
.value {
    float: right;
}
