.chart-container {
    padding-top: 20px;
}
.year-select {
    text-align: center;
    font-size: 24px;
    padding: 0 30px;
}
.bonus-controls {
    padding: 10px;
}
.bar {
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 2px;
    clear: both;
}
.shortbar {
    float: left;
}
.name-external {
    float: left;
    margin-left: 10px;
}
.name-internal {
    float: right;
    margin-right: 10px;
}
.value {
    float: right;
}
.popValue {
    margin-left: 7px;
}
/* bootstrap overrides  */
.card {
    margin: 20px 10px; /* important:  the left/right margins must be half of CHART_MARGINS in <Home> */
}
.card-body {
    padding-left: 0;
}
/* end bootstrap overrides */
